.js-dd-dir-path,
.webgl_snapshot_menu cst-webgl-title
{
  font-style: italic;
  padding: 2px 8px;
  color: #8f8f8f;
  background-color: transparent;
}

.webgl_state_view .sortable-table .col_pname
{
  width: 40%;
}

/* Flipped images */
img.flipped
{
  -o-transform: scaleY(-1);
}


.webgl_view.buffer > div,
.webgl_view.texture > div,
.webgl_view.program > div
{
  text-align: left;
  padding: 10px;
}

.webgl_view .table-info table
{
  border-collapse: collapse;
}

.webgl_view .table-info td,
.webgl_view .table-info th
{
  vertical-align: top;
  word-wrap: break-word;
}

.webgl_view .table-info th
{
  text-align: left;
  padding-right: 30px;
  width: 140px;
}

/* Texture */
.webgl_view div.loading-image
{
  /* Should work, but doesn't */
  /* background: url(./ui-images/loading.png) no-repeat center center; */

  border: 1px;
  border-style: solid;
  border-color: gray;
  position:relative;
}

.loading-image > img
{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-8px;
  margin-left:-8px;
}

/* Program */
pre.sh_sourceCode .webgl-hilight-uniform
{
  background-color: #9ee38a;
  font-weight: bold;
  font-style: normal;

  border-style: dashed;
  border-width: 1px;
  border-color: #145e00;
}

.program div.js-resource-content
{
  border: 1px solid #ccc;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 15px;
}

.webgl_view .uniform-table .changed
{
  color: red;
}

.webgl_view .uniforms
{
  margin-bottom: 10px;
  border: 1px solid #999999;
}

/* Buffer */

.buffer-data-table
{
  margin-top: 10px;
  border: 1px solid #999999;
  width: 100px;
}

/* Trace */

.trace-table span.link
{
  color: blue;
}

.trace-table tr.trace-error
{
  background-color: rgba(255,0,0, 0.4);
}

.trace-table > tr.trace-redundant:nth-child(2n)
{
  background-color: rgba(215,215,0, 0.4);
}

.trace-table > tr.trace-redundant
{
  background-color: rgba(240,240,0, 0.4);
}

.trace-table tr.trace-drawcall
{
  background: rgba(0,255,0, 0.4);
}


/* Draw Call */
.webgl_view.draw-call > div
{
  padding: 10px;
}

.draw-call-info td,
.draw-call-info th
{
  vertical-align: top;
  word-wrap: break-word;
}

.draw-call-info th
{
  text-align: left;
  padding-right: 30px;
}

.draw-call-info table
{
  border-collapse: collapse;
}

.draw-call-info span.link
{
  color: blue;
}

/* Texture */

.checkerboard
{
  background-color: #fefefe;
  background-image: -o-linear-gradient(45deg, #cbcbcb 26%, transparent 25%, transparent 75%, #cbcbcb 75%, #cbcbcb), -o-linear-gradient(45deg, #cbcbcb 25%, transparent 26%, transparent 75%, #cbcbcb 75%, #cbcbcb);
  background-size: 4px 4px;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.texture-container
{
  border: 1px solid #888888;
  overflow: auto;
  font-size: 0px;
}

.texture-container.fit img
{
  max-height: 100%;
  max-width: 100%;
}
