.js-dd-dir-path,
.webgl_snapshot_menu cst-webgl-title
{
  font-style: italic;
  padding: 2px 8px;
  display: block;
  color: #8f8f8f;
  background-color: transparent;
}

.webgl_state_view .sortable-table .col_pname
{
  width: 40%;
}

/* Flipped images */
img.flipped
{
  transform: scaleY(-1);
}


.webgl_view.buffer-call > div,
.webgl_view.texture-call > div,
.webgl_view.program-call > div,
.webgl_view.call > div,
.webgl_view.draw-call > div
{
  text-align: left;
  padding: 10px;
}

.webgl_view .table-info table
{
  border-collapse: collapse;
}

.webgl_view .table-info td,
.webgl_view .table-info th
{
  vertical-align: top;
  word-wrap: break-word;
}

.webgl_view .table-info th
{
  text-align: left;
  padding-right: 30px;
  width: 140px;
}

/* Call header */
.call-header
{
  padding: 5px !important;
  background-color: rgba(0, 0, 0, 0.118);
  background-image: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0.851) 0px, rgba(255, 255, 255, 0.251) 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.149);
  font-weight: 400;
}

.call-header h2
{
  display: inline;
}

.call-header .arguments
{
  display: inline;
  vertical-align: 10%;
}

.state-table
{
  width: 0% !important;
  border: 1px solid #ccc;
}

.state-table .old-value
{
  color: #686868;
}

.state-table td > div
{
  display: inline-block;
}

.color-box
{
  border: 1px solid #ccc;
  width: 12px;
  height: 12px;
  background-position: 0px 0px, 6px 6px !important;
  background-size: 12px 12px !important;
  float: left;
  margin-right: 5px;
}

.color-box > div
{
  width: 12px;
  height: 12px;
}

.goto-script
{
  cursor: pointer;
  text-decoration: underline;
}

.specification
{
  cursor: pointer;
  margin: 6px;
  padding: 2px;
  font-size: 9px;
  color: #000;
  background-color: #ccc;
  border: 1px solid #666;
}

.call-info > .error-message
{
  background: #F2C9C9;
  border: 1px solid rgba(153, 0, 0, 0.267);
  color: #5C0909 !important;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

.call-info > .error-message .cause
{
  font-style: italic;
}

.call-info > .error-message .divider
{
  height: 1px;
  background-color: #5C0909;
  margin-bottom: 4px;
  margin-top: 2px;
}

.call-info > .error-message > div
{
  margin-bottom: 8px;
}

.call-info > .error-message > div:last-child
{
  margin-bottom: 0;
}

.call-info > .error-message a
{
  margin-left: 5px;
  color: #000;
}

#webgl-state-table-container .sortable-table
{
  border: 1px solid #ccc;
}

/* Texture */
.webgl_view div.loading-image
{
  /* Should work, but doesn't */
  /* background: url(./ui-images/loading.png) no-repeat center center; */

  border: 1px;
  border-style: solid;
  border-color: gray;
  position: relative;
}

.loading-image > img
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}

/* Program */
.program-call div.js-resource-content
{
  border: 1px solid #ccc;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 15px;
}

.program div.js-resource-content
{
  border: 1px solid #ccc;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 15px;
}
.webgl_view .uniform-table .changed
{
  color: red;
}

.webgl_view .uniforms
{
  margin-bottom: 10px;
  border: 1px solid #999999;
}

/* Buffer */

.buffer-data-table
{
  margin-top: 10px;
  border: 1px solid #999999;
  width: 100px;
}

.buffer-settings
{
  margin: 0;
  padding: 0;
}

.buffer-settings tr
{
  height: 2em;
}

.buffer-settings td
{
  min-width: 6em;
}

.buffer-settings input
{
  width: 6em;
}

.buffer-settings fieldset
{
  border: 1px solid #ccc;
}

.buffer-settings > div:nth-child(2n)
{
  float: right;
  position: relative;
  width: 50%;
}

.buffer-settings > div:nth-child(2n+1)
{
  position: relative;
  width: 50%;
  float: left;
}

/* Trace */

.trace-table span.link
{
  color: black;
  font-weight: 700;
}

.trace-table tr.trace-error
{
  background-color: rgba(255,0,0, 0.4);
}

.trace-table > tr.trace-redundant:nth-child(2n)
{
  background-color: rgba(215,215,0, 0.4);
}

.trace-table > tr.trace-redundant
{
  background-color: rgba(240,240,0, 0.4);
}

.trace-table tr.trace-drawcall
{
  background: rgba(0,255,0, 0.4);
}


/* Draw Call */
.webgl_view .webgl-holder
{
  border: 1px;
  border-style: solid;
  border-color: gray;

  width: 100%;
  max-width: 450px;
  height: 450px;
  overflow: hidden;

  position:relative;
  text-align: center;
}

.webgl-holder canvas
{
  width: 100%;
  height: 100%;
  position: absolute;
}

.webgl-holder > container
{
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding-top: 150px;

  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;

  font-weight: bold;
  vertical-align: middle;
  z-index: 2;
}

/* Preview help toggle div */
.webgl-holder > div
{
  position:absolute;
  top:2px;
  right:3px;
  text-shadow: 0px 0px 4px #888;
  font-weight: 700;
  z-index: 2;
}

.webgl-holder > div:hover
{
  color: #888;
}

.draw-call-info td,
.draw-call-info th
{
  vertical-align: top;
  word-wrap: break-word;
}

/* Preview help container */
.webgl-holder > div > div {
  position: absolute;
  visibility: hidden;
  right: 15px;
  top: 15px;
  width: 200px;

  color: #ffffff;
  text-shadow: 0px 0px 0px;
  font-weight: normal;
  text-align: left;

  padding:5px;
  border: 2px solid #b1b1b1;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.64), 0px 1px 6px rgba(0, 0, 0, 0.300);
  background: rgba(16, 16, 16, 0.8);
  border-radius: 5px;

  z-index:2;
}

/* Texture */

div.mipmap-table
{
  margin-top: 10px;
}

.mipmap-table > div
{
  font-weight: bold;
}

.mipmap-table > .sortable-table
{
  border: 1px solid #ccc;
}

.checkerboard
{
  background-color: #fefefe;
  background-image: -o-linear-gradient(45deg, #cbcbcb 26%, transparent 25%, transparent 75%, #cbcbcb 75%, #cbcbcb), -o-linear-gradient(45deg, #cbcbcb 25%, transparent 26%, transparent 75%, #cbcbcb 75%, #cbcbcb);
  background-size: 4px 4px;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.texture-container
{
  border: 1px solid #888888;
  overflow: auto;
  font-size: 0px;
}

.texture-container.fit
{
  display: inline-block;
}

.texture-container.fit img
{
  max-height: 100%;
  max-width: 100%;
}
