.webgl_state_view .sortable-table .col_pname
{
  width: 40%;
}


.webgl_view.buffer > div,
.webgl_view.texture > div
{
  padding: 10px;
}

.webgl_view .table-info table
{
  border-collapse: collapse;
}

.webgl_view .table-info td,
.webgl_view .table-info th
{
  vertical-align: top;
  word-wrap: break-word;
}

.webgl_view .table-info th
{
  text-align: left;
  padding-right: 30px;
  width: 140px;
}

/* Buffer */

.buffer-data-table
{
  margin-top: 10px;
  border: 1px solid #999999;
  width: 100px;
}

/* Trace */

.trace-table span.link
{
  color: blue;
}

.trace-table tr.trace-error
{
  background: rgba(255,0,0, 0.4);
}
